

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body,
html {
  background-color: #283142;
  color: #fff;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}
/* app base */
.dsmeta-card {
  background-color: #283142;
  border-radius: 10px;
  padding: 30px 10px;
}

.locadora-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: #404b61;
  padding: 40px 40px;
  border-radius: 5px;
}
header {
  background: linear-gradient(180deg, #102347 0%, #181818 100%);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}



/* header */
.dsmeta-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dsmeta-logo-container img {
  width: 235px;
}

.dsmeta-logo-container h1 {
  margin-top: 15px;
  font-size: 24px;
}

.dsmeta-logo-container h1 {
  font-size: 50px;
  font-weight: 300;
}


/* Container Form */
#sales {
  padding: 40px 30px;
  margin-top: 30px;
}

.locadora-sales-title {
  color: #f1f1f1;
  font-size: 2rem;
  margin-bottom: 20px;
}

.locadora-form-control-container {
  margin-bottom: 25px;
  width: auto;
  font-size: 2rem;
}
.locadora-search-container-section {
  display: flex;
  justify-content: space-between;
}

.locadora-form-control-container input, select {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background: #e3e3e3 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #e3e3e3;
}

.locadora-form-control-container option {
  font-size: 16px;
}


.locadora-form-control-container label {
  font-size: 16px;
  font-weight: bolder;
}

.locadora-form-control-description-area {
  display: flex;
  flex-direction: column;
  resize: none;
  margin-bottom: 16px;
}

.locadora-form-control-description-area  textarea{
  resize: none;
  min-width: 100%;
}

.locadora-form-control-container input::placeholder {
  color: #464646;
  font-size: 16px;
}

.locadora-form-control-container select::placeholder {
  color: #464646;
  font-size: 16px;
}


.locadora-form-control {
  width: 100%;
  height: 60px;
  background-color: #1b2531;
  border: 1px solid #384459;
  border-radius: 5px;
  color: #9aaabe;
  padding: 0 20px;
  font-size: 18px;
}

.locadora-card-button-success {
  background-color: #2dc52d;
  border: none;
  height: 50px;
  color: #f1f1f1;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
  min-width: auto;
  width: 400px
}
.locadora-card-button-success:hover{
  background-color: #4abe4a;
  transition: 0.5s;
}

.locadora-card-button-danger {
  border: none;
  background-color: #be2626;
  height: 50px;
  color: #f1f1f1;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
  min-width: auto;
  width: 400px
}

.id-form-container span, label{
  font-size: 20px;
}

.locadora-card-button-danger:hover{
  transition: 0.5s;
  background-color: #df4141;
}

.locadora-buttons-container {
  display: flex;
  justify-content: space-between;
}

.locadora-sales-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.locadora-sales-table thead {
  height: 55px;
  font-size: 16px;
  color: #e9e9e9;
  font-weight: 700;
}

.locadora-sales-table tbody {
  font-size: 14px;
  font-weight: 400;
  color: #cfcfcf;
  text-align: center;
}

.locadora-sales-table tbody tr {
  height: 74px;
  border-top: 1px solid #5f6e82;
}

.locadora-sales-table tbody tr:hover > td {
  background-color: #384459;
}

.locadora-sales-table tbody tr:nth-ch400pxild(odd) {
  background-color: #242c3b;
}

.locadora-red-btn-container {
    display: flex;
    justify-content: center;
}

.show576 {
    display: none;
}

.show992 {
    display: none;
}

.ds-meta-no-results {
  display: flex;
  width: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ds-meta-no-results div {
  display: flex;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ds-meta-no-results h1 {
  margin-top: 20px;
  height: 50px;
}

@media (max-width: 850px) {
    .show576 {
        display: table-cell;
    }

    .locadora-card {
        padding: 35px;
    }

    .locadora-sales-table tbody tr {
        height: 55px;
    }

    .locadora-sales-table tbody {
        font-size: 18px;
    }

    .locadora-card button {
      min-width: auto;
      width: 100%
    }

    .locadora-buttons-container {
      display: flex;
      flex-direction: column;
    }
}


